*{
    font-family:'Times New Roman', Times, serif ;
    margin : 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type:none;
    font-size: x-large;
}
li:hover{
    cursor: pointer;
    color: red
}
nav{
    width: 70vw;
    margin-top: 1px;
}
.bigImage{
    width: 95vw;
    margin: 1rem;
    margin-bottom: 2rem;
    display: block;
}
img{
    width: 100%;
    height: 100%;
    display: block;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    height: 60vh;
}
.logo{
    height:200px;
    width: 200px;
}footer{
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    position: absolute;
}
